body {
    font-size: large;
    color: #4d4d4d;
    font-family: "DejaVu Sans Mono";
}

.round-image {
    width: 175px; /* Set desired width */
    height: 175px; /* Set desired height */
    border-radius: 30%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center items */
}

.left-image {
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between image and text */
}

.text {
    flex: 1; /* Allow text to take up remaining space */
}